@model List<LandingPage.Models.CMSViewModels.CMSViewModels>
@using LandingPage.Extensions
@{
    ViewData["Title"] = "Home Page";
    var _cmsRepo = new Service.CMSManager();
}

<!--Preload-->
<div class="preloader">
    <div class="preloader_image">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>
</div>

<div id="home" class="banner" style="background-image:url(/img/banner/1.jpg);">
    <div class="overlay"></div>
    <div class="curve"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="caption-inner text-left">
                        <h1 class="animated fadeInUp">@HtmlHelperForView.ViewHelper(Model,36,"HeaderDescription")</h1>
                        <p class="animated fadeInUp">@HtmlHelperForView.ViewHelper(Model, 36, "HeaderSubtitle")</p>

                        <a href="#" class="btn btn-primary animated fadeInLeft"><span>Get Started</span></a> <a href="#" class="btn btn-default animated fadeInRight"><span>Read More</span></a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 hidden-xs">
                    <div class="caption-thumb text-right animated fadeInUp">
                        <img src="@HtmlHelperForView.ViewHelper(Model, 36, "Img")">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end banner -->

<section class="section-spacing" id="features">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 41, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 41, "HeaderSubtitle")</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="features-wrapper">
                    <ul class="icon-right">
                        <li class="wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="feature-icon">
                                <i class="icon-speedometer"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Super Fast</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="feature-icon">
                                <i class="icon-layers"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Unlimited Features</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-delay="0.6s">
                            <div class="feature-icon">
                                <i class="icon-heart"></i>
                            </div>
                            <div class="feature-info">
                                <h4>User Friendly</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="features-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/img/features/1.png" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="features-wrapper">
                    <ul class="icon-left">
                        <li class="wow fadeInRight" data-wow-delay="0.2s">
                            <div class="feature-icon">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Clean code</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-delay="0.4s">
                            <div class="feature-icon">
                                <i class="icon-hotairballoon"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Well documented</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-delay="0.6s">
                            <div class="feature-icon">
                                <i class="icon-chat"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Friendly support</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end features -->

<section id="fun-facts" class="section-spacing bg-img" style="background-image:url(/img/fun-facts/bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="service-info wow fadeIn">
                    <i class="icon-download"></i>
                    <span class="counter">891</span><h5>Downloads</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="service-info wow fadeIn">
                    <i class="icon-happy"></i>
                    <span class="counter">291</span><h5>Happy Clients</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="service-info wow fadeIn">
                    <i class="icon-trophy"></i>
                    <span class="counter">15</span><h5>Award Won</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="service-info wow fadeIn">
                    <i class="icon-wine"></i>
                    <span class="counter">3890</span><h5>Cups of coffee</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="img-block text-center wow fadeInUp">
                    <img src="~/img/fun-facts/1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end fun facts -->

<section class="section-spacing" id="screenshots">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 42, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 42, "HeaderSubtitle")</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="screenshot-carousel" data-carousel-3d>
                    @foreach (var screenshot in HtmlHelperForView.ImageViewHelper(Model, 4, 42,"Screenshot"))
                    {
                        <img src='@screenshot' alt="" />

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end screenshots -->

<section id="downloads" class="section-spacing bg-img" style="background-image:url(/img/downloads/bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="img-block  wow fadeInLeft">
                    <img src="~/img/downloads/1.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="download-info wow fadeInRight">
                    <h3>Get the App</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis necessitatibus velit asperiores.</p>
                    <a href="#" class="btn btn-default"><span><i class="fa fa-apple"></i> App Store</span></a>
                    <a href="#" class="btn btn-default"><span><i class="fa fa-android"></i> Google Play</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end fun facts -->

<section class="section-spacing" id="team">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 39, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 39, "HeaderSubtitle")</p>
            </div>
        </div>
        @{ 
            var memberName = HtmlHelperForView.ImageViewHelper(Model, 1, 39, "MemberName");
            var memberImage = HtmlHelperForView.ImageViewHelper(Model, 4, 39, "MemberImage");
        }
        
        <div class="row">
            
                <div class="col-xs-12">
                    <div class="owl-carousel" id="member-carousel">
                        @for (int i = 0; i < memberName.Count; i++)
                        {
                            <div class="team-member">
                                <div class="team-member wow fadeIn">
                                    <div class="team-thumb">
                                        <img src="@memberImage[i]" alt="">
                                        <div class="contact-bio">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h5>@memberName[i]</h5>
                            </div>
                        }
                    </div>
                </div>
            
        </div>
    </div>
</section>
<!-- end team -->

<section id="video" class="section-spacing bg-img" style="background-image:url(/img/video/bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="play-button text-center">
                    <a href="#" data-toggle="modal" data-target="#video-modal"><i class="icon-video"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end fun facts -->

<section class="section-spacing" id="pricing">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 43, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 43, "HeaderSubtitle")</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="price-table text-center">
                    <div class="pricing-header">
                        <h3>Monthly</h3>
                        <h4>$28</h4>
                    </div>
                    <ul class="pricing-list">
                        <li>Free Access</li>
                        <li>Unlimited editing</li>
                        <li>Cloud backup</li>
                        <li>Video tutorials</li>
                        <li>Secure data</li>
                        <li>24/7 Support</li>
                    </ul>
                    <div class="offer-action">
                        <a href="#" class="btn btn-primary">
                            <span>Purchase Now</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="price-table text-center">
                    <div class="pricing-header">
                        <h3>Yearly</h3>
                        <h4>$128</h4>
                    </div>
                    <ul class="pricing-list">
                        <li>Free Access</li>
                        <li>Unlimited editing</li>
                        <li>Cloud backup</li>
                        <li>Video tutorials</li>
                        <li>Secure data</li>
                        <li>24/7 Support</li>
                    </ul>
                    <div class="offer-action">
                        <a href="#" class="btn btn-primary">
                            <span>Purchase Now</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="price-table text-center">
                    <div class="pricing-header">
                        <h3>Forever</h3>
                        <h4>$1828</h4>
                    </div>
                    <ul class="pricing-list">
                        <li>Free Access</li>
                        <li>Unlimited editing</li>
                        <li>Cloud backup</li>
                        <li>Video tutorials</li>
                        <li>Secure data</li>
                        <li>24/7 Support</li>
                    </ul>
                    <div class="offer-action">
                        <a href="#" class="btn btn-primary">
                            <span>Purchase Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing -->

<section id="subscription" class="section-spacing bg-img" style="background-image:url(/img/video/bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <div class="subscribe-content text-center">
                    <h2>Subscribe Now</h2>
                    <p>Don't worry, we won't send spam!</p>
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-addon">
                                <input type="submit" class="btn btn-primary" value="subscribe">
                            </span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end subscription -->


<section class="section-spacing" id="reviews">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 40, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 40, "HeaderSubtitle")</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div id="testimonials-carousel" class="carousel slide" data-ride="carousel" data-pause="false">
                    <div class="carousel-inner">
                        <div class="item text-center bg-img active" style="background-image:url(/img/testimonials/bg.jpg);">
                            <div class="overlay"></div>
                            <div class="user-img">
                                <img src="~/img/testimonials/1.jpg" alt="">
                            </div>
                            <div class="tesimonial-text">
                                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Maecenas volutpat, diam enim sagittis quam, id porta quam. Maecenas volutpat, diam enim sagittis quam.</p>
                                <h5>Robert Smith, untitled co.</h5>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="item text-center bg-img" style="background-image:url(/img/testimonials/bg-2.jpg);">
                            <div class="overlay"></div>
                            <div class="user-img">
                                <img src="~/img/testimonials/2.jpg" alt="">
                            </div>
                            <div class="tesimonial-text">
                                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Maecenas volutpat, diam enim sagittis quam, id porta quam. Maecenas volutpat, diam enim sagittis quam.</p>
                                <h5>Robert Smith, untitled co.</h5>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="item text-center bg-img" style="background-image:url(/img/testimonials/bg-3.jpg);">
                            <div class="overlay"></div>
                            <div class="user-img">
                                <img src="~/img/testimonials/1.jpg" alt="">
                            </div>
                            <div class="tesimonial-text">
                                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Maecenas volutpat, diam enim sagittis quam, id porta quam. Maecenas volutpat, diam enim sagittis quam.</p>
                                <h5>Robert Smith, untitled co.</h5>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end pricing -->

<section id="map" class="no-padding"></section>
<!-- end map -->

<section class="section-spacing" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>@HtmlHelperForView.ViewHelper(Model, 44, "HeaderDescription")</h2>
                <p>@HtmlHelperForView.ViewHelper(Model, 44, "HeaderSubtitle")</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <form id="contactForm" class="contact-form wow fadeInLeft" data-toggle="validator" method="post">
                    <div class="row">
                        <div class="col-sm-12 col-sm-6">
                            <div class="form-group">
                                <input placeholder="First Name" id="fname" class="form-control" name="fname" type="text" required data-error="Please enter your first name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-6">
                            <div class="form-group">
                                <input placeholder="Last Name" id="lname" class="form-control" name="lname" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input placeholder="Email Address" id="email" class="form-control" name="email" type="email" required data-error="Please enter your valid email address">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <textarea placeholder="Your Comments" id="message" cols="20" rows="8" class="form-control" required data-error="Please enter your comments"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <input value="Submit" name="submit" class="btn btn-primary" type="submit">
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end contact us -->
<!-- Bact to top -->
<div class="back-top">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Start Video Modal -->
<div class="modal fade modal-vcenter" id="video-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o"></i></button>
            </div>
            <div class="modal-body">
                <iframe width="600" height="400" src="https://www.youtube.com/embed/KKiUewLBbxE"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Video Modal -->
<!-- jQuery -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/SmoothScroll.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/jquery.parallax-1.1.3.js"></script>
<script src="~/js/modernizr-2.8.3.min.js"></script>
<script src="~/js/jquery.resize.ex.js"></script>
<script src="~/js/waitforimages.js"></script>
<script src="~/js/jquery.carousel-3d.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.mb.YTPlayer.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?js?sensor=false&key=AIzaSyCYI9QbpcEgmUSfnoBplXycjesknwlFW-w"></script>
<script src="~/js/script.js"></script>